.nav-list {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-around;
}
.Waldo-avatar {
  max-width: 50px;
}
.nav-list img {
  max-width: 50px;
}
h1 {
  font-size: 1.4rem;
}
